*{

	margin:0;
	padding:0;
}

body {
	font-family: sans-serif;
	display:flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}
	
header {
	display: flex;
	justify-content:space-between;
	padding: 10px;
	align-items: center; 

}
nav ul {
	list-style: none;
	display:flex;
	} 

nav ul li {
	padding: 0 10px;
}

h1 {

	font-size: 1.4em;
	font-weight: normal;
	text-transform: uppercase;
	color:#555;
}

nav ul li a {
	text-decoration: none;
	color: #333;
	font-style: 0.9em;

}

footer {
	display:flex;
	justify-content: flex-end;

}

footer p {
	color:#333;	
	font-size: 0.9em;
	padding: 10px;
	flex:0 calc(25% - 20px);

}

@media screen and (max-width: 500px)

/*	768 - 800 para tablet */
	
{
	body {

		justify-content: flex-start;

	}
	header {
		display:block;

	}
	nav ul li {
		padding: 0 10px 0 0;
	}
	footer {
		display: block;

	}
	
}
