*{

	margin:0;
	padding:0;
}

.contenedor	{

	width: 800px;
	margin:50px auto 0;
	border:1px dashed #999;
	display:flex;
	justify-content: space-between;
	height: 500px;
	align-items: flex-start;
	flex-wrap: wrap;
	align-content: flex-start;
}
.contenedor p {
	padding: 10px;
	text-align: center;
	border:1px dashed #333;
	width: calc(25% - 22px);
}