*{

	margin:0;
	padding:0;
}

.contenedor	{

	width: 500px;
	margin:50px auto 0;
	border:1px dashed #999;
	display:flex;
	/*flex-direction: row-reverse; */
	/*flex-direction:column; */
	flex-direction: column-reverse;
}
.contenedor p {
	padding: 10px;
	text-align: center;
	border:1px dashed #333;
}