*{

	margin:0;
	padding:0;
}
section{
	width: 450px;
	margin:50px auto 0;
	background-color: #333;

}

.cuadro{

	width: 150px;
	height: 150px;

}
.rojo {
	background-color: #F00;
	float: left;
}
.verde {
	background-color: #0F0;
	float: right;
	
}
.azul{
	background-color:  #00F;
	float: left;
	width: 200px;
	 
	 }


.clearfix{

	clear: both;
}