*{

	margin:0;
	padding:0;
}
section{
	width: 150px;
	margin:50px auto 0;

}

.cuadro{

	width: 200px;
	height: 200px;

}
.rojo {
	background-color: #F00;


.verde {
	background-color: #0F0;
	position: relative;

}
	
	top: 75px; 
	left: 75px;
}
.azul{
	background-color:  #00F;
}