*{

	margin:0;
	padding:0;
}
section{
	width: 150px;
	margin:50px auto 0;
	position: relative;

}

.cuadro{

	width: 150px;
	height: 150px;

}
.rojo {
	background-color: #F00;
}
.verde {
	background-color: #0F0;
	position: fixed;
	top: 75px; 
	left: 75px;
}
.azul{
	background-color:  #00F;
	height: 2000px;
}