*{

	margin:0;
	padding:0;
}
body{

	font-family: 'Roboto', sans-serif;
	font-size: 100%;
	font-weight: 900;
}

nav{
	width:320px;
	position:fixed; 
	top:0;
	right:0;
	z-index:1;

}

nav ul{
	list-style: none;

}

nav ul li a {
	display:block;
	text-align: center;
	width:80px;
	text-decoration: none;
	color:#333;
	padding: 10px 0;
	border-bottom: 2px solid #999;
	float:left;
	transition: 0.4s;

}

nav ul li a:hover {
	padding: 20px 0 10px;

}

section {
	/*	display:none; */
	height: 100vh;
	position:relative; 
}

section h2{
	position: absolute;
	bottom:20px;
	left: 20px;
	font-size: 4em;

}

