*{

	margin:0;
	padding:0;
}
body{

	font-family: sans-serif;

	/*recomendable poner 100% y así se adaptará a cada dispositivo. */
	font-size: 100%;

}
h1,h2{

	font-size: 3em;
}
h1{
	text-transform: uppercase;
	color:#333;
}

h2{
	color:#777;
	margin-top: 20px;
}

p{
	color:#444;
	font-size: 0.9em;
	letter-spacing: 0.05em;
	line-height: 1.5em;
	margin-top: 10px;
}

.contenedor{
	width: 500px;
	margin: 100px auto 0;

}
.uno{
	font-weight: bold;
}

.dos{
	font-style: italic;
}
